.note-card {
  border: 1px solid rgb(200 200 200);
  border-radius: 10px;
  flex-shrink: 0;
  height: 200px;
  margin: 10px;
  padding: 10px;
  position: relative;
  width: 150px;
}

.note-card a {
  text-decoration: none;
  color: rgb(50 50 50);
}

.note-data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 180px;
}

.note-content {
  overflow-wrap: break-word;
  overflow-y: hidden;
  height: 80%;
  white-space: normal;
  width: 100%;
}

.note-content p {
  width: 100%;
}

.note-date {
  color: rgb(100 100 100);
  font-size: 13px;
}

.delete {
  background-color: inherit;
  border: none;
  display: flex;
  color: rgb(168 10 10);
  padding: 5px 0;
}

.delete-options {
  align-items: center;
  background-color: rgb(200 200 200 / 50%);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
}

.delete-options h3 {
  font-weight: 500;
}
