@keyframes fade-in-color {
  from {
    background-color: #030912;
  }

  to {
    background-color: white;
  }
}

@keyframes fade-in-opacity {
  from {
    opacity: 0;
    box-shadow: none;
  }

  to {
    opacity: 1;
  }
}

.authentication-page {
  animation-name: fade-in-color;
  animation-duration: 1s;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.forms-container {
  animation-name: fade-in-opacity;
  animation-duration: 1s;
  align-items: center;
  background-color: rgb(253 253 253);
  border-radius: 3px;
  box-shadow: 1px 1px 8px 1px rgb(240 240 240);
  color: rgb(100 100 100);
  display: flex;
  flex-wrap: wrap;
  height: 80vh;
  justify-content: space-between;
  padding: 20px;
  width: 85vw;
}

.left,
.right {
  box-sizing: border-box;
  height: 70vh;
  padding: 0 20px;
  width: 50%;
}

.left {
  padding-left: 20px;
}

.right {
  padding-right: 20px;
}

.authentication-page fieldset {
  border: none;
  display: flex;
  flex-direction: column;
}

.authentication-page fieldset legend {
  font-size: 26px;
  font-weight: 200;
}

.authentication-page input {
  border: 1px solid rgb(230 230 230);
  border-radius: 3px;
  margin: 20px 0;
  padding: 15px;
}

.register-option {
  display: none;
}

.authentication-page button {
  align-items: center;
  border-radius: 3px;
  font-size: 14px;
  height: 40px;
  margin: 10px 0;
  transition: 300ms;
  width: 150px;
}

.authentication-page button:disabled {
  background-color: rgb(200 200 200);
  border: none;
}

.authentication-page a {
  color: rgb(0 76 142);
  font-size: 14px;
  font-weight: 300;
}

.authentication-page a:hover {
  text-decoration: underline;
}

.error {
  color: rgb(166 15 15);
  font-size: 14px;
}

@media screen and (max-width: 600px) {
  .left,
  .right {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    padding: 50px 10px;
    width: 100%;
  }

  .authentication-page form {
    width: 100%;
  }

  .authentication-page fieldset legend {
    font-size: 38px;
    font-weight: 100;
  }

  .authentication-page input {
    font-size: 18px;
  }

  .register-option {
    display: block;
    padding: 15px 0;
  }

  .authentication-page a {
    color: rgb(51 90 148);
    font-size: 14px;
    text-decoration: none;
  }

  .authentication-page button {
    font-size: 18px;
    height: 45px;
    width: 100%;
  }
}
