.principalPage main {
  padding: 0 30px;
  padding-top: 50px;
}

.principalPage select {
  appearance: none;
  background-color: inherit;
  border: none;
  border-bottom: 1px solid rgb(200, 200, 200);
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  padding: 10px 0;
  width: 240px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.principalPage select option {
  font-size: 16px;
  padding: 20px;
}

.notes {
  border: 1px solid rgb(200, 200, 200);
  height: 250px;
  margin: 30px 0;
  width: 100%;
}

.dailyPhrase {
  margin: 30px 0;
}

.principalPage h2 {
  font-weight: 300;
}

.noteOptions {
  align-items: center;
  background-color: #15B097;
  border: none;
  border-radius: 50%;
  box-shadow: 1px 1px 5px 1px rgb(200, 200, 200);
  color: white;
  display: flex;
  font-size: 40px;
  font-weight: 600;
  height: 50px;
  justify-content: center;
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 50px;
}
