.header {
  background-color: #030912;
  color: white;
  display: flex;
  height: 80px;
  justify-content: space-between;
  padding: 0 20px;
}

.header a {
  text-decoration: none;
  color: inherit
}

.right, .left {
  align-items: center;
  display: flex;
}

.header h1 {
  font-weight: 300;
}
